/* =================
 * TABLE OF CONTENTS 
 * =================
 * 1. =GLOBAL
 * 2. =HEADER
 * 3. =FOOTER
 * 4. =EFARE
 * 5. =GENFARE.COM 
 * ================= */

/* ===EFARE=== */
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
a {
    cursor: pointer;
}

.efare .header-logo {
    height: 78px;
    margin-left: -15px;
    margin-top: 0;
    padding: 0;
    width: 317px; 
}

.efare h1 {
    color: #333;
}

.efare h4 {
    color: #444;
}

.efare p {

}

.efare .button-no-style {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}

.compact-nav {
    height: 79px;
}

.home-caption {
display:inline-block;
}

.hero-icon-container  {
}

img.bus-icon {
    max-height: 100%;
    max-width: 100%;
}

.or-icon {
    height: 30px;
    width: 30px;
}

.bucket-icon {
    height: 80px;
    width: 80px;
}

.efare .navbar {
    background-color: #0f2b5b;
    margin-bottom: 0;
    border-radius:0px;
}

.efare .navbar-header {
    height: 80px;
    margin: 0;
    padding: 0;
}



.efare ul.navbar-nav {
    height: 80px;
    margin: 0 -45px 0 0;
}

.container.efare-navbar {
padding:0px;
}

.efare ul.navbar-nav li {
    display: inline-block;
    height: 78px;
    margin-left: 30px;
    padding-top:10px;
}

.efare ul.navbar-nav li.login-bg{
background-color:#071c40;
}


.login-bg .glyphicon {
    color: #f6a81b;
}

.efare .navbar-brand {
    padding: 0;
    height: 80px;
}

.maintenance h1 {
    color: #444;
    margin: 3% auto 12px;
    text-align: center;
}

.maintenance p {
    color: #666;
    font-size: 1.2em;
    margin: auto;
    text-align: center;
}

.maintenace-img-0 {
    background: rgba(0, 0, 0, 0) url("maintenance0.gif") no-repeat scroll 0 0;
    display: block;
    height: 394px;
    margin: 8% auto;
    width: 300px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #efefef;
    bottom: 0;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

.footer .text-center a {
    border-right: 1px solid #cccccc;
    color: #6e6e6e;
    display: inline-table;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .text-center a.last {
    border-right: none;
    padding-right:10px;
}

.footer .text-center {
    color: #6e6e6e;
}




.wrapper {
    min-height: 600px;
    margin-bottom:140px;
}













    


    


    
    
